table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px ;
  }
  h1{
    background-color: #dddddd;
  }
  p{
    background-color: bisque;
    text-shadow: #dddddd;
  }
  body{
    margin: auto;
    padding: 2%;
  }